.header {
    position: absolute;
    height: 88px;
    position: relative;
    background: var(--background-header);
    z-index: 5;
  background: transparent; 
  padding: 20px 96px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.headerLogo {
    font-weight: 500;
font-size: 24px;
line-height: 117%;
letter-spacing: -0.02em;
color: var(--text-light);
}