.submitBtn{
    border-radius: 30px;
    border: none;
    background: var(--background-header);
    width: 100%;
    height: 52px;
    font-weight: 500;
font-size: 16px;
line-height: 125%;
letter-spacing: -0.01em;
color: var(--text-light);
}