
:root {
  --background-main: #F3F3F3;
  --background-header: #103931;
  --text-primary: #11101c;
  --text-secondary: rgba(17, 16, 28, 0.5);
  --text-light: #fbfbfb;
}

body {
  background: var(--background-main);
  color: var(--text-primary);
  font-family: 
    "Helvetica Neue", 
    Helvetica,
    Arial,
    sans-serif;
}
