.nav {
    display: flex;
}
@media (max-width: 768px) {
  .nav {
    width: 100%;
    justify-content: center;
  }
}
.navlist {
    display: flex;
    gap: 40px;
}
@media (max-width: 768px) {
  .navlist {
    flex-direction: column;
    gap: 12px;
    align-items: center;
  }
}
.navItem a {
    position: relative;
    font-weight: 400;
font-size: 16px;
line-height: 125%;
letter-spacing: -0.01em;
color: var(--text-light);
}

.active::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  width: 6px;
  height: 6px;
  background: white;
  border-radius: 50%
}