.input {
  width: 100%;
  height: 52px;
  border-radius: 12px;
  border: 1px solid rgba(17, 16, 28, 0.1);
  box-sizing: border-box;
  padding-left: 18px;
  font-size: 16px;
  background-color: var(--background-main);
   outline: none;
}

.input:focus,
.input:hover {
  border: 1px solid rgba(17, 16, 28, 0.1);
}