
:root {
  --background-main: #F3F3F3;
  --background-header: #103931;
  --background-light: #fbfbfb;
  --text-primary: #11101c;
  --text-secondary: rgba(17, 16, 28, 0.5);
  --text-light: #fbfbfb;
}

body {
  background: var(--background-main);
  color: var(--text-primary);
  font-family: 
    "Helvetica Neue", 
    Helvetica,
    Arial,
    sans-serif;
    max-width: 1440px;;
}

button {
  display: block;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

li{
  list-style: none;
}
a {
  text-decoration: none;
}
h2 {
  font-weight: 500;
font-size: 40px;
line-height: 120%;
letter-spacing: -0.02em;
color: var(--text-primary);
}

p {
  font-weight: 400;
font-size: 16px;
line-height: 125%;
color: var(--text-secondary);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}