.header {
    position: absolute;
    height: 88px;
    position: relative;
    background: var(--background-header);
    z-index: 5;
  background: transparent; 
  padding: 20px 96px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.headerLogo {
    font-weight: 500;
font-size: 24px;
line-height: 117%;
letter-spacing: -0.02em;
color: var(--text-light);
}

.btnBlock {
  display: flex;
  gap: 8px;
}

.loginBtn {
  border: 1px solid rgba(251, 251, 251, 0.4);
border-radius: 30px;
background: transparent;
font-weight: 500;
font-size: 16px;
line-height: 125%;
letter-spacing: -0.01em;
color: var(--text-light);
width: 124px;
height: 48px;
}
.registerBtn {
  border-radius: 30px;
  border: none;
width: 168px;
height: 48px;
font-weight: 500;
font-size: 16px;
line-height: 125%;
letter-spacing: -0.01em;
color: var(--text-light);
background: var(--background-header);
}