.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;        
 height: auto; 
  z-index: 10;
}
.inner {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px 96px;   
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;          
}
@media (max-width: 768px) {
  .inner {
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 16px;
  }}

.transparent {
  background: transparent;
}

.colored {
  position: relative;
  background: var(--background-header);
}

.headerLogo {
    font-weight: 500;
font-size: 24px;
line-height: 117%;
letter-spacing: -0.02em;
color: var(--text-light);
}

.btnBlock {
  display: flex;
  gap: 8px;
}

.loginBtn {
  border: 1px solid rgba(251, 251, 251, 0.4);
border-radius: 30px;
background: transparent;
font-weight: 500;
font-size: 16px;
line-height: 125%;
letter-spacing: -0.01em;
color: var(--text-light);
width: 124px;
height: 48px;
}
.registerBtn, 
.logoutBtn {
  border-radius: 30px;
  border: none;
width: 168px;
height: 48px;
font-weight: 500;
font-size: 16px;
line-height: 125%;
letter-spacing: -0.01em;
color: var(--text-light);
background: var(--background-header);
}

.userBlock {
  display: flex;
  gap: 24px;
  align-items: center;
}

.userName {
  color: var(--text-light);
}

