.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(17, 17, 17, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  padding: 16px;
  padding: 16px;
}

.modal {
  background:var(--background-main);
  border-radius: 30px;
  max-width: 599px;
  width: 100%;
max-height: 907px;
overflow-y: auto; 
position: relative;
max-height: calc(100vh - 32px);
}

.closeBtn {
    position: absolute;
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.closeIcon{
    stroke-width: 2.50px;
stroke: #11101c;
}

.nannyInfo {
    display: flex;
    flex-direction: row;
}


