.wrapper {
  width: 200px;
}

.select {
  width: 100%;
  padding: 14px 40px 14px 16px;
  border-radius: 14px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  color: white;
  background-color: var(--background-header); 
  appearance: none;
  cursor: pointer;
}