.container {
    max-width: 1184px;
    width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px auto;
  gap: 32px;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 32px;

  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}
.loadMoreBtn {
  border-radius: 30px;
  border: none;
  padding: 14px 40px;
  max-width: 159px;
  width: 100%;
  height: 48px;
  background: var(--background-header);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  color: var(--text-light);
}
