.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  gap: 32px;
}

.loadMoreBtn {
  border-radius: 30px;
  padding: 14px 40px;
  max-width: 159px;
  width: auto;
  height: 48px;
  background: var(--background-header);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  color: var(--text-light);
}
